@{
    //Layout = "_Layout";

    ViewData["Title"] = "Index";
    IEnumerable<ChatUser> AllUsers = ViewBag.AllUsers;
    string CurrentUserId = ViewBag.CurrentUserId;
}

    <div class="container">
        <h3 class=" text-center">Messaging</h3>
        <div class="messaging">
            <div class="inbox_msg">
                <div class="inbox_people">
                    <div class="headind_srch">
                        <div class="recent_heading">
                            <h4>Contacts</h4>
                        </div>
                       
                    </div>
                    <div id="ContactList" class="inbox_chat">
                        @foreach (var user in AllUsers)
                        {
                            <div id="@user.Id" class="chat_list user ">
                                <div id="@user.Id" class="chat_people ">
                                   
                                        @user.UserName 
                                        
                                </div>
                            </div>
                        }
                        
                    </div>
                </div>
                <div class="mesgs">
                    <div id="messagesList" class="msg_history">
                        <div class="incoming_msg">
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>
                                        Test which is a new approach to have all
                                        solutions
                                    </p>
                                    <span class="time_date"> 11:01 AM    |    June 9</span>
                                </div>
                            </div>
                        </div>
                        <div class="outgoing_msg">
                            <div class="sent_msg">
                                <p>
                                    Test which is a new approach to have all
                                    solutions
                                </p>
                                <span class="time_date"> 11:01 AM    |    June 9</span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="type_msg">
                        <div class="input_msg_write">
                            <input readonly hidden type="text" value="@CurrentUserId" id="Sender" />
                            <input readonly hidden type="text" value="@AllUsers.First().Id"  id="Reciever" />
                            <input id="messageInput" type="text" class="write_msg" placeholder="Type a message" />
                            <button id="sendButton" class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>


         
        </div>
    </div>
    <script src="~/lib/signalr.js"></script>
<script src="~/js/chat.js"></script>

